/* 
.home-big-div{
    background-image: linear-gradient(to right bottom, #121227, #1a162b, #22192f, #2b1c33, #331f36);
} */

.text1{
    font-size: 60px;
    padding-left: 40px;
    padding-top: 100px;
    /* text-align: center; */
     }

.text2{
    font-size: 60px;
   
   
}

.play-btn{
    margin-top: 30px;
   
}

.video-span{
    padding-top: 10px;
    padding-left: 10px;
    
}

.text3{
    padding: 50px;
    
}