



.big-container{
    
    width: auto;
    height: 500px;
    padding-left: 300px;
    padding-right: 300px;
   
}



.open-heading{
    color: white;
    padding: 20px;
}
.position-div{
    display: flex;
   
}


.positions{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    text-align: center;
    align-items: center;
    
    
    padding: 30px;
    border-bottom: 0.5px solid whitesmoke;

}


.refer-btn{
    padding: 10px;
    border-radius: 5px;
    /* background-color: transparent; */
      }
    
/* 


/* 

.positions-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.positions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;

} */