
.pricing-main{
    
    color: white;
    padding: 30px; 
}

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
   /* background-color: #271E34; */
    /* background-image: linear-gradient(to right bottom, #121227, #1a162b, #22192f, #2b1c33, #331f36); */

.pricing-h1{
    padding: 30px;
}



.pricing-container{
    border: orangered;
    background-color: orange;
    text-align: center;
   margin-left: auto;
  margin-right: auto;
  display: table;
   
    

}

.pricing-heading{
    background-color: #101225;
    color:white;
   padding-top: 20px;
    padding-bottom: 30px;
    
}


.pricing-content{
    background-color:white;
    color: tomato;
   padding: 20px;

}

.pricing-content h3{
    font-size: medium;
    
    padding:20px;

}