
.pricing-main{
    /* background-color: #271E34; */
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding: 30px; 
    /* background-image: linear-gradient(to right bottom, #121227, #1a162b, #22192f, #2b1c33, #331f36); */
}
.pricing-h1{
    padding: 30px;
}



.pricing-container{
    border: orangered;
    background-color: orange;
    text-align: center;

  margin-left: auto;
  margin-right: auto;
  display: table;
   
    

}

.pricing-heading{
    background-color: #3CCF91;
    /* background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B); */
  
    color:white;
   padding-top: 20px;
    padding-bottom: 30px;
    
}


.pricing-content{
    background-color:white;
    /* width: 500px;
    height: 400px; */
    /* color:rgb(79, 235, 214); */
    color: #3CCF91;
   padding: 20px;

}

.pricing-content h3{
    font-size: medium;
    
    padding:20px;

}