.App {
  text-align: center;
background-color: #241629;
background-image: linear-gradient(to right bottom, #121227, #1a162b, #22192f, #2b1c33, #331f36);

color: white;
}



.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  background: #241629;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background:#fd3c66; ;
}